@charset "utf-8"
@font-face {
  font-family: "Minion Cyrillic";
  src: url("../fonts/minioncyrillic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Minion Cyrillic";
  src: url("../fonts/minioncyrillicbold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Minion Cyrillic";
  src: url("../fonts/minioncyrillicitalic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Minion Cyrillic";
  src: url("../fonts/minioncyrillicbolditalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Inconsolata LGC";
  src: url("../fonts/inconsolatalgc.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inconsolata LGC";
  src: url("../fonts/inconsolatalgcbold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Inconsolata LGC";
  src: url("../fonts/inconsolatalgcitalic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Inconsolata LGC";
  src: url("../fonts/inconsolatalgcbolditalic.ttf");
  font-weight: bold;
  font-style: italic;
}
